*{
    margin: 10px 0 0 0;
}
header{
    clear: both;
    overflow: auto;
    background: slategray;
}
.titulo1{
    padding: 50px 100px;
    width: 40%;
    height: 200px;
    float: left;
    background: blanchedalmond;
    border-radius: 20px;
}
.atajos{
    display: inline;
    float: right;
    width: 55%;
    height: 200px;
    background: royalblue;
    border-radius: 20px;
    padding: 20px;
}
ul li{
    display: inline;
    font-size: 1.5em;
    padding:10px;
}
ul li a{
    text-decoration: none;
    color: black;
    margin: auto;
}
ul li a:hover{
    background: gray;
    color: indigo;
    border-radius: 5px;
}
.contenedor{
    clear: both;
    overflow: auto;
    background: gainsboro;
}
main .main-contenedor{
    float: left;
    width: 58.5%;
    margin-right: 1.5%;
    clear: both;
    overflow: auto;
}
main .main-titulo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
main .main-parrafo{
    font-size: 1.9em;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    
}
aside{
    width: 38%;
    height: 200px;
    margin: 0px 0px;
    background-color: blue;
    color: cornsilk;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
}

article{
    margin: auto;
    width: 30%;
    border-radius: 25px;
    background: darkcyan;
    padding: 1px;
    display: block;

}
.img{
    border-radius: 25px;
    padding: 5px;
    display: block;
    margin: auto;
}
footer{
    text-align: center;
    overflow: auto;
    clear: both;
}

